<!-- dialog.component.html -->
<p-dialog header="Iniciar Sesión" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }" [baseZIndex]="10000">
    <div class="login-options">
      <p class="intro-text">Por favor, elige cómo deseas iniciar sesión:</p>
      <div class="button-group">
        <p-button label="Iniciar Sesión como Doctor" (click)="redirectTo('doctor')" class="login-button doctor-btn" />
        <p-button label="Iniciar Sesión como Paciente" (click)="redirectTo('paciente')" class="login-button paciente-btn" />
      </div>
    </div>
  </p-dialog>
  